.rsc .base {
    border-color: rgb(0,122,255) !important;
    color: rgb(0,122,255);
}

.rsc .dark {
    border-color: #333 !important;
    color: #333;
}

.rsc .light {
    border-color: rgb(247, 247, 247) !important;
    color: rgb(247, 247, 247);
    background: transparent !important;
}

.rsc .success {
    border-color: #5cb85c !important;
    color: #5cb85c;
}

.rsc .error {
    border-color: #d9534f !important;
    color: #d9534f;
}

.rsc .base.selected {
    background: rgb(0,122,255) !important;    
    color: #fff !important;
}

.rsc .dark.selected {
    background: #333 !important;
    color: #fff !important;
}

.rsc .light.selected {
    background: rgb(247, 247, 247) !important;
    color: #333 !important;
}

.rsc .success.selected {
    background: #5cb85c !important; 
    color: #fff !important;
}

.rsc .error.selected {
    background: #d9534f !important;
    color: #fff !important;
}